.calculator{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.calculator > form{
    display: grid;
    grid-template-areas: 
    " 1 1 1 1"
    " 1 1 1 1"
    " 1 1 1 1"
    " 1 1 1 1"
    " 1 1 1 1"
    ;
    gap: 0.5rem;
}
.calculator > form > button{
width: 40px;
}
